*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
    



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
.logo img{
    color: #111111;
    width: 92px;
    height: 20px;
    
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

nav ul li i{margin-left: 2px;
color: #555555;}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
/* icon-menu */
.icon-bar {
    display: flex;
    justify-content: flex-end;
  
   
}

.icon-item {
    position: relative;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    color: #333;
}

.notification-badge {
    position: absolute;
    top: -5px;
    right: -10px;
    /* background-color:  #D73F0F; */
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.badge-1{
    background-color: #D73F0F;
}
.badge-2{
    background-color: #DD7733;
    
}
/* slider */
/* .owl-prev ,.owl-next{
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: #EBEBEB;
    color: #000;
    width: 60px;
    height: 60px;

    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
 .owl-carousel{
    display: block;
 }
.owl-nav{
 position: relative;
 bottom: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}
.owl-dots{
   position: relative;
   bottom: 70px;
}

/* Featured Collections */
section {
    width: 100%;
}
.featured-collections {
    text-align: center;
    background-color: #fff;
    padding: 10px 50px 0 50px;
}

.featured-collections h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.featured-collections p {
    color: #777;
    margin-bottom: 40px;
}

.collections-grid {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px;
}

.collection-item {
    max-width: 100%;
    height: auto;
    position: relative;

}
.collection-col{
margin-bottom: 10px;
}
.collection-item img {
    max-width: 100%;
    height: auto;
    border-radius: 7px;
}
.collection-item h3{
    position: absolute;
    bottom: 20px;
    left: 140px;
    background-color: #fff;
    width: 160px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* New Arrivals */
.new-arrivals {
    padding: 10px 50px 0 50px;
}
.new-arrival {
    text-align: center;
    padding: 50px 0;

}

.new-arrival h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.new-arrival p {
    color: #777;
    margin-bottom: 40px;
}

/* .arrivals-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
}

.arrival-item {
    text-align: center;
}

.arrival-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.arrival-item p {
    margin: 10px 0;
}

.price-old {
    text-decoration: line-through;
    color: #777;
    margin-right: 10px;
}

.price-new {
    font-weight: bold;
    color: #000;
} */

.products-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    flex: 1 1 calc(25% - 20px);
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.status-badge {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #757575;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}
.status-sale{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #d73f0f;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}
.discount{
 
    position: absolute;
    top: 25px;
    left: 1px;
    background-color: #177983;
    color: white;
    padding: 5px 20px;
    white-space: nowrap;
    border-radius: 10px;
    font-size: 12px;
}

.product-item{
    max-width: 100%;
}
.product-item img {
    max-width: 100%;
    border-radius: 10px;
}


.product-info p {
    margin: 5px 0 0 0px;
}

.discounted-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 5px;
}

.rating {
    color: #000;
    font-size: 14px;
    margin-bottom: 10px;
}

.color-options {
    display: flex;
    margin-top: 10px;
    gap: 5px;
}

.color-option {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}
.color-option:first-child {
    border-color: #000; /* Màu viền đen cho vòng tròn đầu tiên */
}
.color-option::before {
    content: '';
    width: 16px; /* Kích thước của vòng tròn màu nhỏ bên trong */
    height: 16px;
    border-radius: 50%;
    background-color: inherit; /* Sử dụng màu nền của cha */
    
}


/* Footer */
footer {
    background-color: #fff;
    padding: 50px 30px 0 30px;
    margin-top: 50px;
    border-top: 1px solid #eee;
}
.footer-content{
    line-height: 1.5;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
.shop-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.shop-icon {
    width: 40px;
    height: 40px;
    background-color: #6c47ff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-text {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #555;
}
.shop-text span {
    font-weight: bold;
    color: #000;
}

.footer-about, .footer-links, .footer-customer-service, .footer-newsletter {
    width: 20%;
}

.footer-about h3, .footer-links h4, .footer-customer-service h4, .footer-newsletter h4 {
    margin-bottom: 15px;
}

.footer-about p, .footer-newsletter p {
    color: #777;
}

.footer-links ul, .footer-customer-service ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li, .footer-customer-service ul li {
    margin-bottom: 10px;
}

.footer-links ul li a, .footer-customer-service ul li a {
    text-decoration: none;
    color: #333;
}
.social-links{
    margin-top: 12px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.social-links a {
    color: #333;
    text-decoration: none;

}

.social-links a:hover {
    text-decoration: underline;
}

.footer-newsletter form {
    display: flex;
    justify-content: space-between;
    padding-top:30px;
}

.footer-newsletter input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 70%;
    margin-right: 10px;
}
.footer-newsletter button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid #eee;
    margin-top: 30px;
    margin: 10px;
    
}

.footer-bottom p {
    color: #777;
    margin: 0;
}
.footer-bottom img {
    margin-top: 10px;
    max-width: 25%;
    height: 20%;
}

.menu-lang ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu-lang ul li {
    margin: 0 15px;
    display: flex;
    align-items: center;
    gap: 5px;
    
}

.menu-lang ul li i{margin-left: 1px;
color: #555555;}
.menu-lang ul li a {
    text-decoration: none;
    color: #777;
    font-weight: bold;
}
.payment-options{
    margin-right: 10px;
}
